<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ShortDateFormat" value="MM/dd/yyyy" />
    <add key="LongDateFormat" value="MM/dd/yyyy HH:mm:ss" />

    <!-- cloud blob service container name -->
    <add key="CloudContainerName" value="abcfiles" />
    <add key="CloudAccount" value="uat" />
    <!--<add key="CloudAccount" value="Development" />-->

    <!-- Variables para registro de eventos -->
    <add key="LoggingAssembly" value="STPC.DynamicForms.Infraestructure" />
    <add key="LoggingProvider" value="Logging.OnPremiseLogging" />
    <add key="EventLogSource" value="LiSim ABC" />
    <add key="EventLogName" value="LiSim ABC - EventLog" />
    <add key="DeploymentType" value="IaaS" />
    <add key="NumLastPassword" value="5" />
    <add key="LoginErrorSlicingTime" value="2" />
  </appSettings>
  <connectionStrings>
    <clear />

    <!-- cadena de conexion original -->
    <add name="LisimAbcDb" connectionString="Server=tcp:lisim-databaseprodiq.database.windows.net,1433; User Id=appLeandingMark; Password=appL34N1$M4rk;  Initial Catalog=AbcLeandingMarkProd; Trusted_Connection=False;Encrypt=True;Connection Timeout=30; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!--<add name="LisimAbcDb" connectionString="Server=tcp:lisim-databaseproduccion.database.windows.net,1433; User Id=appLeandingMark; Password=appL34N1$M4rk;  Initial Catalog=AbcLeandingMarkProd; Trusted_Connection=False;Encrypt=True;Connection Timeout=30; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!-- cadena de conexion cloud blob service -->
    <add name="ABCFiles" connectionString="DefaultEndpointsProtocol=https;AccountName=portalvhdsj9mqy4x34t41r;AccountKey=QfIytkUWC65NdWFZnR2p1inoY2QaHytxYCWFnThulSKqw/AAtGdSsQJ1dZEaBjfl+D5RCSTpKpu6M00vu4EShQ==" />
    <!--=====================================================-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <caching>
      <sqlCacheDependency enabled="true" pollTime="1000">
        <databases>
          <add name="AbcUatUniAndes" connectionStringName="LisimAbcDb" />
        </databases>
      </sqlCacheDependency>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="CacheFor6000Seconds" duration="60000" varyByParam="none" sqlDependency="AbcUatUniAndes:ForbiddenPassword" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <system.serviceModel>
    <diagnostics wmiProviderEnabled="true">
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="3000" />
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="EndPointBinding" closeTimeout="00:50:00" openTimeout="00:50:00" receiveTimeout="00:50:00" sendTimeout="00:50:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="UserAccountBehavior" name="STPC.DynamicForms.Services.UserService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="EndPointBinding" name="UserServiceEndpoint" contract="STPC.DynamicForms.Services.Users.IUserService" />
      </service>
      <service behaviorConfiguration="RequestServiceBehavior" name="STPC.DynamicForms.Services.RequestService.RequestService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="EndPointBinding" name="RequestServiceEndpoint" contract="STPC.DynamicForms.Services.RequestService.IRequestService" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="UserAccountBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="RequestServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="myUserTraceSource" switchValue="Information, ActivityTracing">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\logs\Traces.svclog" />
    </sharedListeners>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>