body {
	font-size: .85em;
	font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
	color: #232323;
	background-color: #fff;
}

header, footer, nav, section {
	display: block;
}

 Styles for basic forms
-----------------------------------------------------------

fieldset {
	border: 1px solid #ddd;
	padding: 0 1.4em 1.4em 1.4em;
	margin: 0 0 1.5em 0;
}

legend {
	font-size: 1.2em;
	font-weight: bold;
}

textarea {
	min-height: 75px;
}

.editor-label {
	margin: 1em 0 0 0;
}

.editor-field {
	margin: 0.5em 0 0 0;
}


 Styles for validation helpers
-----------------------------------------------------------
.field-validation-error {
	color: #ff0000;
}

.field-validation-valid {
	display: none;
}

.input-validation-error {
	border: 1px solid #ff0000;
	background-color: #ffeeee;
}

.validation-summary-errors {
	font-weight: bold;
	color: #ff0000;
}

.validation-summary-valid {
	display: none;
}

#Categories {
	float: left;
	padding: 10px;
	width: 300px;
	border: 1px solid gray;
}

	#Categories select {
		width: 100%;
	}

#Options {
	float: left;
	padding: 10px;
	width: 500px;
	border: 1px solid gray;
}


	#Options table {
		border-collapse: collapse;
		border: 2px solid;
	}

	#Options td {
		padding: 3px;
		border-width: 1px;
		border-style: solid dotted;
	}

label, input {
	display: block;
}

	input.text {
		margin-bottom: 12px;
		width: 95%;
		padding: .4em;
	}

fieldset {
	padding: 0;
	border: 0;
	margin-top: 25px;
}

.ui-dialog .ui-state-error {
	padding: .3em;
}

.validateTips {
	border: 1px solid transparent;
	padding: 0.3em;
}

	table.withborders {
	border-width: 1px;
	border-spacing: 2px;
	border-style: solid;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
}
table.withborders th {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: gray;
	background-color: rgb(255, 255, 240);
}
table.withborders td {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: gray;
	background-color: rgb(255, 255, 240);
}
table.withborders li
{
	list-style-type: none;
	text-indent: -2em;
}

.button
{
	margin: 5px;
	display: block;
	width: 115px;
	height: 25px;
	background: #4E9CAF;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	color: white;
	font-weight: bold;
}

#HierarchiesTreeView
{
	list-style-type: circle;
}

div#ajaxloading
{
	display: none;
	width: 100px;
	height: 100px;
	position: fixed;
	top: 50%;
	left: 50%;
	background: #fff url('preloader.gif') no-repeat center;
	text-align: center;
	padding: 10px;
	font: normal 16px Tahoma, Geneva, sans-serif;
	border: 1px solid #666;
	margin-left: -50px;
	margin-top: -50px;
	z-index: 2;
	overflow: auto;
}