@model List<STPC.DynamicForms.Web.Services.Entities.Category>
<select size="20" id="CategoriesList">
    @foreach (var item in Model) { 
    <option value="@item.Name">@item.Name</option>
    }
    </select>
