<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TestScoringFlowClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="STPC.DynamicForms.DecisionEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TestScoringFlowClient.Properties.Settings>
            <setting name="TestScoringFlowClient_ScoringService_ScoringService" serializeAs="String">
                <value>http://lisimscortotest.cloudapp.net:9000/ScortoScoringServices/ScoringService.asmx</value>
            </setting>
        </TestScoringFlowClient.Properties.Settings>
      <STPC.DynamicForms.DecisionEngine.Properties.Settings>
        <setting name="STPC_DynamicForms_DecisionEngine_ScortoWSProxy_ScoringService" serializeAs="String">
          <value>http://lisimscortotest.cloudapp.net:9000/ScortoScoringServices/ScoringService.asmx</value>
        </setting>
      </STPC.DynamicForms.DecisionEngine.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
