<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="domainInfoGroup">
      <section name="domainInfo" type="STPC.DynamicForms.Web.DomainInfoSection" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
    <sectionGroup name="formInfoGroup">
      <section name="formInfo" type="STPC.DynamicForms.Web.FormInfoSection" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <formInfoGroup>
    <formInfo>
      <maxlength value="255" />
    </formInfo>
  </formInfoGroup>
  <domainInfoGroup>
    <domainInfo>
      <domain name="localhost:1651" />
      <!--Change this with your correct domain or localhost:port-->
    </domainInfo>
  </domainInfoGroup>
  <connectionStrings>
    <clear />
    <!-- cadena de conexion original -->
    <add name="STPC_FormsFormEntities" connectionString="metadata=res://*/Models.FormModel.csdl|res://*/Models.FormModel.ssdl|res://*/Models.FormModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;Initial Catalog=STPC.DynamicForms.DB;Integrated Security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="STPC_FormsResponseEntities" connectionString="metadata=res://*/Models.ResponseModel.csdl|res://*/Models.ResponseModel.ssdl|res://*/Models.ResponseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQLEXPRESS;Initial Catalog=STPC.DynamicForms.DB;Integrated Security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="STPC_FormsAspNetUserEntities" connectionString="metadata=res://*/Models.AspNetUserModel.csdl|res://*/Models.AspNetUserModel.ssdl|res://*/Models.AspNetUserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQLEXPRESS;Initial Catalog=STPC.DynamicForms.DB;Integrated Security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--=====================================================-->
    <!-- cadena de conexion cloud blob service -->
    <add name="ABCFiles" connectionString="DefaultEndpointsProtocol=https;AccountName=portalvhdsj9mqy4x34t41r;AccountKey=QfIytkUWC65NdWFZnR2p1inoY2QaHytxYCWFnThulSKqw/AAtGdSsQJ1dZEaBjfl+D5RCSTpKpu6M00vu4EShQ==" />
    <!--=====================================================-->
  </connectionStrings>
  <appSettings>
    <add key="DecisionEngineUrl" value="http://scortopruebaepm.cloudapp.net:9000/ScortoScoringServices/ScoringService.asmx" />
    <add key="DataServicesURI" value="http://localhost:6615/FormsPersistenceService.svc/" />
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Workarround bug mvc 3.0 con la página de logon-->
    <add key="enableSimpleMembership" value="false" />
    <add key="autoFormsAuthentication" value="false" />
    <add key="loginUrl" value="~/Home/Index" />
    <add key="FieldTypeNameNumeric" value="Número" />
    <add key="FieldTypeNameEmail" value="Correo Electrónico" />
    <add key="FieldTypeNameCurrency" value="Moneda" />
    <!--Fin Workarround-->
    <add key="FormatoFecha" value="MM/dd/yyyy" />
    <add key="FormatoFechaUniversal" value="MM/dd/yyyy HH:mm:ss" />
    <add key="ValidateEmailURL" value="http://localhost:2322/Account/ConfirmUserRegister?userName={0}{1}token={2}" />
    
    <add key="BodyMail" value="Su nueva contraseña es: " />
    
    <add key="Subjet" value="Restablecimiento de contraseña: " />
    <add key="Server" value="smtp.gmail.com" />
    <add key="Port" value="587" />
    <add key="User" value="frpatino6@gmail.com" />
    <add key="Password" value="mazda1997" />
    <add key="Domain" value="" />
    <add key="From" value="frpatino6@gmail.com" />
    
    <!--Credenciale configuracion Web Services Scorto-->
    <add key="UserWs" value="1" />
    <add key="PwsWs" value="1" />
    <add key="pollInterval" value="100" />
    <add key="timeOut" value="5000" />

    <!-- cloud blob service container name -->
    <add key="CloudContainerName" value="abcfiles" />
    <add key="CloudAccount" value="uat" />
    <!-- Habilita mostrar detalle de error al usuario -->
    <add key="ShowErrorDetail" value="true" />
    <add key="DeploymentType" value="IaaS" />
    <!-- Variables para registro de eventos -->
    <add key="LoggingAssembly" value="STPC.DynamicForms.Infraestructure" />
    <add key="LoggingProvider" value="Logging.OnPremiseLogging" />
    <add key="EventLogSource" value="LiSim ABC" />
    <add key="EventLogName" value="LiSim ABC - EventLog" />
    <add key="CampaignImageFolder" value="/Content/images/slides/" />
    <add key="CampaignImagePhysicaFolder" value="E:\ABC\Sufi\ABC-Sufi\MAIN\SRC\STPC.DynamicForms.Web.RT\Content\images\slides\" />
    
    <add key="DefaultPanelStyle" value="StylePanelDefault" />
    <add key="SingleRoleMode" value="True" />
    <add key="singleResetQuestionMode" value="False" />
    <add key="ResetPasswordLifetime" value="24" />
    <add key="allowedRolesDT" value="Administrador,Co-Administrador" />


  </appSettings>
  <system.web>
    <machineKey validationKey="49B690430633257BB9C0888CEE26C757609F50435393344F24345F6558643AD52C99ACF9BC3C16B719E6502ABA5C6A5038A59BFFE1DFBF6710A0B9B40E738A41" decryptionKey="9BF8533DDBB6B45FD09D797E1FA6780E7791224D4A446EF50F9B443588D7299F" validation="SHA1" decryption="AES" />
    <httpRuntime requestValidationMode="2.0" enableVersionHeader="false" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="10" cookieless="UseCookies" slidingExpiration="true" enableCrossAppRedirects="false" name="LiSimABC" />
    </authentication>
    <membership defaultProvider="CustomMembershipProvider" userIsOnlineTimeWindow="20">
      <providers>
        <clear />
        <add name="CustomMembershipProvider" type="STPC.DynamicForms.Web.Common.CustomMembershipProvider" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" passwordFormat="Hashed" minRequiredPasswordLength="8" minRequiredNonAlphanumericCharacters="1" passwordStrengthReqularExpression="" enablePasswordRetrieval="false" passwordMaxAge="60" passwordMaxAgeAlert="14" resetQuestionsPoolNumber="5" resetQuestionsNumber="2" loginErrorTimeDelay="5" applicationName="LiSimAbcRT" CaptchaInvalidPasswordAttempts="5" minRequiredNumericCharacters="3" minRequiredAlphaCharacters="1" minRequiredUpperCharacters="1" minRequiredLowerCharacters="1" />

      </providers>
    </membership>
    <roleManager defaultProvider="CustomRoleProvider" enabled="true" cacheRolesInCookie="true" cookieName="LISIMABCRoles" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <clear />
        <add name="CustomRoleProvider" type="STPC.DynamicForms.Web.Helpers.CustomRoleProvider" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <!--<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>-->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <handlers>
      <remove name="UrlRoutingHandler" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.2.0" newVersion="5.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.2.0" newVersion="5.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IScriptGeneratorService" maxBufferSize="65536" />
        <binding name="BasicHttpBinding_IUserService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="2000000" useDefaultWebProxy="true" />
        <binding name="RequestServiceEndpoint" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:6615/ScriptGeneratorService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IScriptGeneratorService" contract="Services.ScriptGenerator.IScriptGeneratorService" name="BasicHttpBinding_IScriptGeneratorService" />
      <endpoint address="http://localhost:6615/UsersService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService" contract="Services.Users.IUserService" name="BasicHttpBinding_IUserService" />
      <endpoint address="http://localhost:6615/RequestService.svc" binding="basicHttpBinding" bindingConfiguration="RequestServiceEndpoint" contract="Services.Request.IRequestService" name="RequestServiceEndpoint" />
    </client>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>