<?xml version="1.0" encoding="utf-8"?>
<!--============================= TEST ====================================-->
<configuration>
  <appSettings>
    <add key="LogName" value="LiSimABCLogEntry" />
    <add key="LogSource" value="LiSim ABC" />
    <add key="Assembly" value="STPC.DynamicForms.Infraestructure" />
    <add key="LoggingProvider" value="Logging.OnPremiseLogging" />
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="2" useGlobalLock="true">
      <listeners>
        <add name="TextWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\LiSimABCTrace.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.2.0" newVersion="5.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.2.0" newVersion="5.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>