<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="STPC.DynamicForms.DecisionEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ScoringServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://scortouniandes.cloudapp.net:9000/ScortoScoringServices/ScoringService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ScoringServiceSoap"
        contract="ScortoProxy.ScoringServiceSoap" name="ScoringServiceSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <STPC.DynamicForms.DecisionEngine.Properties.Settings>
      <setting name="STPC_DynamicForms_DecisionEngine_ScortoWSProxy_ScoringService"
        serializeAs="String">
        <value>http://scortouniandes.cloudapp.net:9000/ScortoScoringServices/ScoringService.asmx</value>
      </setting>
    </STPC.DynamicForms.DecisionEngine.Properties.Settings>
  </applicationSettings>
</configuration>