@model List<STPC.DynamicForms.Web.Common.Services.Users.UserResetQuestion>
@{
    ViewBag.Title = "LiSim Abc";
}

@using (Ajax.BeginForm("LoadQuestionUserPost", "Account", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    OnSuccess = "updateSuccess"
}, new { @id = "updateModeloAnswerQuestion" }))
{
    <table>

        @foreach (var item in Model)
        {
            @Html.HiddenFor(e => item.Question.Id)
            @Html.HiddenFor(e => item.Answer)
            <tr>
                <td>
                    @item.Question.Question
                </td>
                <td>
                    @Html.Password("Respuesta",null, new { autocomplete = "off" })
                </td>
            </tr>
        }
    </table>
}

<script type="text/javascript">
    


</script>
