@{
 
   
}
<select size="10" id="objectListCache">
    <option id="optOptios" value="Opciones">Opciones</option>
    <option id="optEvents" value="Eventos">Eventos de página</option>
    <option id="optPageMathOperations" value="Eventos">Operaciones</option>
</select>

<button id="EditCacheCategory">
    Actualizar caché</button>