<div class="pageTitle">
</div>

@*<iframe id="reportFrame" name="reportFrame" src="/Reports/Report.aspx?user=CC1&param=/Reportes/Sufi/SolicitudesPerf" width="800" height="800"> *@
<iframe id="reportFrame" name="reportFrame" src="/Reports/Report.aspx?param=@ViewData["parameters"]&requestId=@ViewData["requestId"]" width="908px" height="908px" ></iframe>
<script type="text/javascript">  

 </script>